In [1]:
import pandas as pd

In [2]:
path = 'A375_2_week_PLX.csv/Data (full)-Table 1.csv'
df = pd.read_csv(path)

In [3]:
df.head()

,Name,Time [h:m:s],ND.T,ND.Z,ND.M,ROI ID,Intensity(340),StDev(340),Area Fraction(340),Intensity(380),StDev(380),Area Fraction(380),ROI Area [µm²],Center X,Center Y,Ratio 340/380
0,A375_2_week_PLX.nd2,0:00:00,1,-1,-1,2,284.73,88.79,0.5,572.01,250.72,1,406.56,14,156,0.543
1,A375_2_week_PLX.nd2,0:00:05,2,-1,-1,2,283.00,86.19,0.5,565.56,243.76,1,406.56,14,156,0.543
2,A375_2_week_PLX.nd2,0:00:10,3,-1,-1,2,282.49,86.86,0.5,561.46,242.05,1,406.56,14,156,0.545
3,A375_2_week_PLX.nd2,0:00:15,4,-1,-1,2,284.21,88.57,0.5,562.50,245.81,1,406.56,14,156,0.551
4,A375_2_week_PLX.nd2,0:00:20,5,-1,-1,2,280.58,83.45,0.5,570.35,250.56,1,406.56,14,156,0.542

In [9]:
old_cols = df.columns
old_cols

Index(['Name', 'Time [h:m:s]', 'ND.T', 'ND.Z', 'ND.M', 'ROI ID',
       'Intensity(340)', 'StDev(340)', 'Area Fraction(340)', 'Intensity(380)',
       'StDev(380)', 'Area Fraction(380)', 'ROI Area [µm²]', 'Center X',
       'Center Y', 'Ratio 340/380'],
      dtype='object')

In [7]:
df_out = df[['ROI ID', 'Time [h:m:s]', 'Ratio 340/380']].copy()

In [14]:
df_out.to_csv('clean_ratios.csv')

In [10]:
new_cols = df_out.columns

In [13]:
len(df_out[new_cols[0]].unique())

882

In [23]:
df_out[new_cols[0]]

0           2
1           2
2           2
3           2
4           2
         ...
637681    969
637682    969
637683    969
637684    969
637685    969
Name: ROI ID, Length: 637686, dtype: int64